<!--*** CONTACT ***-->
<div class="infoContainer">
<h1 id="contactsHeading">Contact Information:</h1>
<div id="contactsContainer">

  <label class="control-label" id="nameLabel">Full Name:</label>
  <span id="myName">Mahmoud Saad Elsayed Hamada</span>

  <label class="control-label" id="emalLabel">Email(s):</label>
  <span id="email1">Mahmoud_saad94@hotmail.com</span>
  <span id="email2">Mahmoud.saad@mail.uk</span>
  <!-- <ul id="emaill">
    <li></li>
    <li>/li>
  </ul> -->

  <label class="control-label" id="numbLabel">Phone Number(s):</label>
  <span id="number">+201098984931</span>



  <div id="iconsContainer">
    <a href="https://github.com/sa3d94"  class="contactIcon" id="githubLink" target="_blank">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>

    <a href="https://www.linkedin.com/in/mahmoud-saad-333124111/" target="_blank" class="contactIcon"
      id="linkedInLink">
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>

    <a href="mailto:mahmoud_saad94@hotmail.com"class="contactIcon" id="emailLink">
    </a>
  </div>

</div>
</div>

